<p id="notice"><%= notice %></p>

<p>
  <strong>Loginname:</strong>
  <%= @lobby.loginname %>
</p>

<p>
  <strong>Applytime:</strong>
  <%= @lobby.applytime %>
</p>

<%# link_to 'Edit', edit_lobby_path(@lobby) %> 
<%# link_to 'Back', lobbies_path %>
